In [1]:
import pandas as pd

In [2]:
genes_df = pd.read_csv('../genomes/hosts/GCF_000001635.27/genes/modified_rna.csv', sep='\t', names=['gene_id', 'sequence'])
genes_df.head()

  gene_id                                           sequence
0   Zfp85  CTCTCTCTTTCTGTATGACCCCGCTAGACAGGACTCTGCTCTCTGT...
1    Scap  GTTGAGAGGTGAAGGGGCGGGGAGCTGCGCGGGCGCCGGGCGGCCG...
2  Zfp458  GTCCTGCTCAGAACTGGGCTTGGATCTCTGACATGGAGGACATGTT...
3  Fbxo41  CTGTCTCCTAGCTGCACCGGGGCCGAGCGCCCCCTCCTATCTCCCC...
4   Taf9b  CGCTAGGGCGACTTCCTCCGCACCTCTCCACCTCCGAACCTGCATG...

In [4]:
gene_ids_df = pd.read_csv('/home/nima/projects/def-lpenacas/nima/newDual/genomes/hosts/GCF_000001635.27/genes/gene_ids.csv')
gene_ids_df.head()

        gene_id label
0  LOC118567656    nd
1         Rgs20    up
2       Gm26901    up
3         Sntg1    up
4        Adhfe1    nd

In [18]:
for label in gene_ids_df['label'].unique():
    print(genes_df[genes_df['gene_id'].isin(gene_ids_df[gene_ids_df['label']==label]['gene_id'])].shape)

(10217, 2)
(5687, 2)
(2298, 2)

In [5]:
genes_df[
    genes_df['gene_id'].isin(gene_ids_df['gene_id'])
]

         gene_id                                           sequence
8         Zfp941  GCTGGAGCTGGCCATCTTTGGCACCTTTGGGAGCTCCTGCTGTTCT...
14        Zfp456  CTCTTCCTCAAAGTTGGGCGGAAATGATATTCGGCTATCTATTCCA...
18         Itga8  AGAGCAGCGGGGTCGGCGGGCCGCACAGGGCGAGAGGACTGTCACT...
22      Adamts13  AGGAAGCTCCCAAGAGTAAACACTGCCTGATGTCCCGCCCAGCCAG...
27         Spag6  AGTCCCGAGGGACGTTGAGGGGTCGCGGCGAGCGGACCCGACACGC...
...          ...                                                ...
134473   Gm34744  ATGAGACGCGGTCACACCCCCTTCTAAACTTCCGGTCGCCTCCCAC...
134540    Atp10a  GAGGGGAGTCCGCGCTGCCGCGCCCGGGCGGCGGGCGATGATCACC...
134549     Rccd1  TTTTTTTTTTTTTTTCAGTGTCGTTTTTTTATGCTGGTCCTTGGAT...
134672   Gm12976  ACTGCAGTGAAACTGGGAGGCTAAGGGACTGGCCTCCAGACAGGCA...
134673   Gm12976  TTTTTCTTTTCTTTTTTTTCTTTCTTTCTTTTTTTTTTTTTTTTTG...

[18202 rows x 2 columns]

In [19]:
genes_df.merge(gene_ids_df, on='gene_id')['label'].value_counts()

nd      10217
up       5687
down     2298
Name: label, dtype: int64

In [8]:
genes_df[genes_df['gene_id'].isin(gene_ids_df['gene_id'])]

        gene_id                                           sequence
8        Zfp941  GCTGGAGCTGGCCATCTTTGGCACCTTTGGGAGCTCCTGCTGTTCT...
12      Primpol  TCCGGCTCCGCCCCCTCGCGCGGGTTTCAAGCTCTGGTTCCCGCCA...
14       Zfp456  CTCTTCCTCAAAGTTGGGCGGAAATGATATTCGGCTATCTATTCCA...
27        Spag6  AGTCCCGAGGGACGTTGAGGGGTCGCGGCGAGCGGACCCGACACGC...
44      Wdr83os  GAAGTTGCTCTTCTAGCTGTGAAAGAAGGACGGCGTGGTCTTCAGT...
...         ...                                                ...
134472  Gm34744  ATGAGACGCGGTCACACCCCCTTCTAAACTTCCGGTCGCCTCCCAC...
134473  Gm34744  ATGAGACGCGGTCACACCCCCTTCTAAACTTCCGGTCGCCTCCCAC...
134540   Atp10a  GAGGGGAGTCCGCGCTGCCGCGCCCGGGCGGCGGGCGATGATCACC...
134548  Tubgcp5  CGGAACTCTCGCGAGAACAGTCGCCACTTAGCAGAGATCCTGATAG...
134549    Rccd1  TTTTTTTTTTTTTTTCAGTGTCGTTTTTTTATGCTGGTCCTTGGAT...

[16838 rows x 2 columns]

In [10]:
selected_genes_df = genes_df[genes_df['gene_id'].isin(gene_ids_df['gene_id'])]

In [11]:
# Sort the DataFrame by gene_id and sequence length in descending order
selected_genes_df = selected_genes_df.sort_values(
    ['gene_id', 'sequence'], ascending=[True, False]
)

In [18]:
# Identify duplicated gene_ids and keep only the longest sequence for each
selected_genes_df.drop_duplicates(
    subset='gene_id', keep='first', inplace=True, ignore_index=True
)