In [1]:
import numpy as np
import pandas as pd

## Human

In [2]:
human1_df = pd.read_csv('../count_tables/experiment1/host.csv').iloc[:, [0, 7]]
human1_df.rename(columns={'Unnamed: 0': 'gene_id'}, inplace=True)
human1_df.set_index('gene_id', inplace=True)
print(human1_df.shape)

(14785, 1)

In [4]:
human5_df = pd.read_csv('../count_tables/experiment5/host.csv').iloc[:, [0, 7]]
human5_df.rename(columns={'Unnamed: 0': 'gene_id'}, inplace=True)
human5_df.set_index('gene_id', inplace=True)
print(human5_df.shape)

(16070, 1)

In [5]:
human6_df = pd.read_csv('../count_tables/experiment6/host.csv').iloc[:, [0, 7]]
human6_df.rename(columns={'Unnamed: 0': 'gene_id'}, inplace=True)
human6_df.set_index('gene_id', inplace=True)
print(human6_df.shape)

(17043, 1)

In [6]:
human9_df = pd.read_csv('../count_tables/experiment9/host.csv').iloc[:, [0, 7]]
human9_df.rename(columns={'Unnamed: 0': 'gene_id'}, inplace=True)
human9_df.set_index('gene_id', inplace=True)
print(human9_df.shape)

(14828, 1)

In [7]:
human_merged_df = pd.merge(
    human1_df,
    human5_df,
    left_index=True,
    right_index=True,
    suffixes=['_1', '_5'],
)
human_merged_df = pd.merge(
    human_merged_df,
    human6_df,
    left_index=True,
    right_index=True,
    suffixes=[None, '_6'],
)
human_merged_df = pd.merge(
    human_merged_df,
    human9_df,
    left_index=True,
    right_index=True,
    suffixes=[None, '_9'],
)
human_merged_df.head()

             log2FoldChange_1 log2FoldChange_5 log2FoldChange log2FoldChange_9
gene_id
LOC100996442               nd               nd             nd               nd
MTATP6P1                   up               nd             nd               nd
LOC100288069               nd               nd             nd               nd
LINC01409                  nd               nd             up               nd
LINC00115                  nd               nd             nd               nd

In [12]:
def change_log_human(row):
    if (set(row) == set(['up', 'nd'])):
        if(row.value_counts()['up']>=2):
            return 'up'
    if (set(row) == set(['down', 'nd'])):
        if (row.value_counts()['down']>=2):
            return 'down'
    if (row.nunique() == 1):
        return row[0]
    return None

human_df = (
    human_merged_df.apply(lambda x: change_log_human(x), axis=1)
    .dropna()
    .to_frame('label')
    .reset_index()
)
print(human_df.shape)
human_df['label'].value_counts()

(2842, 2)

nd      2620
up       123
down      99
Name: label, dtype: int64

In [13]:
# human_df.to_csv('../genomes/hosts/GCF_000001405.40/genes/gene_ids.csv', index=False)

## Mouse

In [14]:
mouse4_df = pd.read_csv('../count_tables/experiment4/host.csv').iloc[:, [0, 7]]
mouse4_df.rename(columns={'Unnamed: 0': 'gene_id'}, inplace=True)
mouse4_df.set_index('gene_id', inplace=True)
print(mouse4_df.shape)

(13220, 1)

In [15]:
mouse8_df = pd.read_csv('../count_tables/experiment8/host.csv').iloc[:, [0, 7]]
mouse8_df.rename(columns={'Unnamed: 0': 'gene_id'}, inplace=True)
mouse8_df.set_index('gene_id', inplace=True)
print(mouse8_df.shape)

(13818, 1)

In [16]:
mouse_merged_df = pd.merge(
    mouse4_df,
    mouse8_df,
    left_index=True,
    right_index=True,
    suffixes=['_4', '_8'],
)
mouse_merged_df.head()

             log2FoldChange_4 log2FoldChange_8
gene_id
Xkr4                       up             down
Rp1                        up             down
LOC118567656               nd               nd
Rgs20                      up               up
Gm26901                    up               up

In [17]:
mouse_mask = mouse_merged_df.nunique(axis=1)==1
mouse_df = (
    mouse_merged_df[mouse_mask].iloc[:, 0].to_frame('label').reset_index()
)
print(mouse_df.shape)
mouse_df['label'].value_counts()

(3681, 2)

nd      2257
up       937
down     487
Name: label, dtype: int64

In [18]:
mouse_df

           gene_id label
0     LOC118567656    nd
1            Rgs20    up
2          Gm26901    up
3            Sntg1    up
4           Adhfe1    nd
...            ...   ...
3676  LOC108168645    up
3677         TrnL1    nd
3678           ND2    nd
3679          TrnW    nd
3680          TrnP    nd

[3681 rows x 2 columns]

In [13]:
# mouse_df.to_csv('../genomes/hosts/GCF_000001635.27/genes/gene_ids.csv', index=False)

## Fish

In [ ]:
fish_df = pd.read_csv('../count_tables/experiment2/host.csv').iloc[:, [0, 7]]
fish_df.columns = ['gene_id', 'label']
fish_df.head()

        gene_id label
0         khdc4    nd
1  LOC108262683    nd
2  LOC108263488    nd
3  LOC124628267    nd
4         clk2b  down

In [ ]:
# fish_df.to_csv('../genomes/hosts/GCF_001660625.2/genes/gene_ids.csv', index=False)

## Monkey

In [7]:
monkey_df = pd.read_csv('../count_tables/experiment3/host.csv').iloc[:, [0, 7]]
monkey_df.columns = ['gene_id', 'label']
monkey_df.head()

        gene_id label
0  LOC102116409    nd
1  LOC123572833    nd
2         PGBD2    nd
3        ZNF672    nd
4         LYPD8    up

In [6]:
# monkey_df.to_csv('../genomes/hosts/GCF_012559485.2/genes/gene_ids.csv', index=False)

## Pathogen

In [18]:
pathogen1_df = pd.read_csv('../count_tables/experiment1/pathogen.csv')[['Unnamed: 0', 'log2FoldChange']]
pathogen1_df.columns = ['gene_id', 'label']
pathogen1_df.to_csv('../genomes/pathogens/GCF_000010505.1/genes/gene_ids.csv', index=False)

In [19]:
pathogen2_df = pd.read_csv('../count_tables/experiment2/pathogen.csv')[['Unnamed: 0', 'log2FoldChange']]
pathogen2_df.columns = ['gene_id', 'label']
pathogen2_df.to_csv('../genomes/pathogens/GCF_017498685.1/genes/gene_ids.csv', index=False)

In [20]:
pathogen3_df = pd.read_csv('../count_tables/experiment3/pathogen.csv')[['Unnamed: 0', 'log2FoldChange']]
pathogen3_df.columns = ['gene_id', 'label']
pathogen3_df.to_csv('../genomes/pathogens/GCF_012572265.1/genes/gene_ids.csv', index=False)

In [21]:
pathogen4_df = pd.read_csv('../count_tables/experiment4/pathogen.csv')[['Unnamed: 0', 'log2FoldChange']]
pathogen4_df.columns = ['gene_id', 'label']
pathogen4_df.to_csv('../genomes/pathogens/GCF_000195955.2/genes/gene_ids.csv', index=False)

In [22]:
pathogen5_df = pd.read_csv('../count_tables/experiment5/pathogen.csv')[['Unnamed: 0', 'log2FoldChange']]
pathogen5_df.columns = ['gene_id', 'label']
pathogen5_df.to_csv('../genomes/pathogens/GCF_004327565.1/genes/gene_ids.csv', index=False)

In [23]:
pathogen6_df = pd.read_csv('../count_tables/experiment6/pathogen.csv')[['Unnamed: 0', 'log2FoldChange']]
pathogen6_df.columns = ['gene_id', 'label']
pathogen6_df.to_csv('../genomes/pathogens/GCF_000195715.1/genes/gene_ids.csv', index=False)

In [24]:
pathogen7_df = pd.read_csv('../count_tables/experiment7/pathogen.csv')[['Unnamed: 0', 'log2FoldChange']]
pathogen7_df.columns = ['gene_id', 'label']
pathogen7_df.to_csv('../genomes/pathogens/GCF_000194035.1/genes/gene_ids.csv', index=False)

In [26]:
pathogen8_df = pd.read_csv('../count_tables/experiment8/pathogen.csv')[['Unnamed: 0', 'log2FoldChange']]
pathogen8_df.columns = ['gene_id', 'label']
pathogen8_df.to_csv('../genomes/pathogens/GCF_000006765.1/genes/gene_ids.csv', index=False)

In [27]:
pathogen9_df = pd.read_csv('../count_tables/experiment9/pathogen.csv')[['Unnamed: 0', 'log2FoldChange']]
pathogen9_df.columns = ['gene_id', 'label']
pathogen9_df.to_csv('../genomes/pathogens/GCF_000013425.1/genes/gene_ids.csv', index=False)